@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

body{
    background: #F7F5ED;
    font-family: 'Noto Sans Japanese', sans-serif;
}

.container{
    padding-top: 30px;
}

header{

}

.navbar-form{
    width: 100%;
}

#logo{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    display:block;
}

#promo{
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

dl.search{
    position:relative;
    background-color:#fff;
    border:1px solid #aaa;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -o-border-radius:3px;
    -ms-border-radius:3px;
    border-radius:3px;
    margin-top: 10px;
}
dl.search dt{
    margin-right:40px;
    padding:8px 0 8px 8px;
}
dl.search dt input{
    width: 100%;
    height:15px;
    line-height:24px;
    background:none;
    border:none;
}
dl.search dd{
    position:absolute;
    top:0;
    right:0;
}
dl.search dd button{
    display:block;
    padding:10px;
    background:none;
    border:none;
}
dl.search dd button span{
    display:block;
    width:20px;
    height:20px;
}



.login p{
    padding-top: 20px;
    float: right;
}

.navbar{
    background: #F7F5ED;
    border: none;
    box-shadow: none;
}


.slide-show{

}

.main-content{
    margin-bottom: 50px;
}

.main-content img{
    width: 100%;
}

.pickup{

}

.pickup img{
    width: 100%;
}

.art{
    margin-top: 30px;
    margin-bottom: 40px;
}

.art p{
    font-size: 1.1em;
    line-height: 1.8em;
    font-family:  "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
}

.art h2{
    margin-top: 2em;
    border-left: solid 4px #ce8483;
    padding: 10px 0 13px 10px;
}

.main-content {

}

.ex{
    padding: 10px;
    border: solid 1px #ce8483;
    margin-bottom: 8px;
}

cite{
    text-decoration: none;
    font-size: 0.7em;
}

.card{
    background: white;
    border: solid 1px #e8e8e8;
}

.art-info{
    position: relative;
    bottom: 5px;
}